{:blocks (), :pages ({:block/created-at 1665912576162, :block/name "634bcf00-1bd3-4c0a-a4f0-212774e9d3c3", :block/properties {:ls-type :whiteboard-page, :logseq.tldraw.page {:id "634bcf00-1bd3-4c0a-a4f0-212774e9d3c3", :name "634bcf00-1bd3-4c0a-a4f0-212774e9d3c3", :ls-type :whiteboard-page, :bindings {}, :nonce 1, :assets []}}, :block/type "whiteboard", :block/updated-at 1665912576162, :block/uuid #uuid "634bcf00-1bd3-4c0a-a4f0-212774e9d3c3"})}