{:blocks (), :pages ({:block/created-at 1665912606987, :block/name "634bcf1e-3f17-4520-bbdf-6d4d9154bc0a", :block/properties {:ls-type :whiteboard-page, :logseq.tldraw.page {:id "634bcf1e-3f17-4520-bbdf-6d4d9154bc0a", :name "634bcf1e-3f17-4520-bbdf-6d4d9154bc0a", :ls-type :whiteboard-page, :bindings {}, :nonce 1, :assets []}}, :block/type "whiteboard", :block/updated-at 1665912606987, :block/uuid #uuid "634bcf1e-3f17-4520-bbdf-6d4d9154bc0a"})}